.container {
  margin: 0 auto;
  width: 800px;
  .operator {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
